:root{
    --primary-color:#3f4e4f;
}

body {
    margin:0;
    background-color:#ffffff;
    /* background-image:url(../images/background.png);   */
    background-repeat: no-repeat; 
    background-size: cover;
    color:#2c3639;
    font-family: "Afacad Flux", sans-serif;
    /* font-size: 20px; */
    font-weight:400;
        /* Same as above /*
    /* font: 400 20px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Courier New', Courier, monospace; */
    overflow:hidden;
}

html{
    overflow: hidden;
    overflow-y: auto;
}

/* Container for the whole site */
.container{
    width:85%;
    margin: auto; /* Center the container horizontally */

}

/* Navigation */
#main-header{
    color:#3f4e4f;
    font-size:40px;
    z-index: 10;
}

.navigation{
    position: relative;
    display: inline-flex;
    width:100%;
    height:20%;
    align-items: center;
    /* justify-content: center; */
}

.navigation h1{
    float: left;
    font-weight: 400;
}

.navigation ul{
    float:right;
}

.navigation ul li{
    text-decoration: none;
    list-style: none;
    display: inline;
    padding:20px;
}

.button{
    font-size: 20px;
    color: #3f4e4f;
}

/* Buttons in general */
a{
    color:#3f4e4f;
    text-decoration:none;
    font-size: 18px;
    z-index: 20;
}

a:hover{
    color:aquamarine
}

a:active{
    color:rgb(29, 59, 49);
}

/* Landing */
.firstlanding{
    height:80vh;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.landingtext{
    color:#ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landingtext h1{
    font-weight:300;
    font-size:80px;
}

.landingtext p{
    font-size:30px;
    margin-bottom:-50px;
}

.landingimage{
    object-position:100% 40%;
}

/* Personal */
.personaldiv{
    display:flex;
    width:100%;
    margin: 100px 0 50px 80px;
}

#personal{
    height:100vh;
}

.wrap {
    transform: translateX(0%); /* Shift the image 20% to the right */
}

.first-line{
    margin-top:200px;
}

#main{
    float:left;
    width:70%;
    box-sizing: border-box;
    font-size:28px;
    padding-top:100px;
    padding-right: 10px;
}

/* Second section below Personal */
#secondsection{
    display: flex;
    margin: 100px 0 50px 80px;
}

/* Landing page button & animation */
.buttonpara{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    float:left !important;
}

.btn{
    cursor: pointer;
    display:inline-block;
    width:fit-content !important; 
    color: #3f4e4f;
    font-size:18px;
    text-decoration:none;
    padding:0.5rem 1rem;
    border: #8b8b8b 1px solid;
    border-radius:20px;
    opacity: 0.24;
    animation-name:btn;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    transition-property: transform;
    transition-duration: 1s;
}

.btn:hover{
    transform:rotateY(180deg);
}

@keyframes btn {
    0% {opacity:0;}
    100% {opacity:1;}
}

#smallbuttontext{
    font-size:12px;
    margin-top: 5px;
    text-align: center;
}

.credentials{
    margin-top:50px;
    display: flex;
    gap:50px;
}

.logo{
    width: 50px;
    max-height:80px;
}

/* Services */
#services {
    height: 100vh; /* Full viewport height */
    display:flex;
    flex-direction: column; /* Ensure children stack vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    min-height: auto;
}

#services .container {
    height: 100vh; /* Ensure the container is as tall as the parent flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.services__image{
    flex:1;
    max-width: 50%;
    height:100%;
    overflow:hidden;
}

.services__image img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.services__div{
    flex: 1;
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content:center;
}

.title {
    text-align: center;
    margin-bottom: 20px; /* Add some spacing between the title and the services */
}

.servicescontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the service items horizontally */
    text-align: center;
    align-items: center;
}

.service {
    flex: 1 1 calc(50% - 10px); /* Cards take up 50% width with space between */
    margin: 10px; /* Add some margin for spacing between the cards */
    transition: background-color 2s ease-in-out 50ms
}

.servicescontainer .service:hover {
    box-shadow: 10px 30px 30px rgba(120, 255, 237, 0.2);
    background-color: #fff;
    padding: 0 10px;
    cursor: pointer;
}


/* Testimonials */
#testimonials{
    text-align: center;
    align-items: center;
    margin-top: 100px;
}

.carousel{
    position: relative;
    max-width: 600px;
    min-height: 750px;
    margin: 50px auto 0 auto;
    justify-content: center;
    align-items: center;
    display: block;
    transition: height 1s ease-in-out;
}

.carousel_button{
    justify-content: space-between;
    border: none;
    border-radius: 50%;
    background-color: white;
    width:40px;
    height:40px;
}

.carousel_button span{
    font-size: 20px;
}

#carousel_button_next{
    position: absolute !important;
    right:-2%;
    top:50%;
}

#carousel_button_prev{
    position: absolute !important;
    left:-2%;
    top:50%;
}

.item{
    display: none;
    flex-direction: column;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.382);
    padding:40px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 40px 45px rgba(0, 255, 255, 0.113);
    border-radius: 50px;
    transition: opacity 1s ease-in-out;
}

.item img{
    height: 400px;
    width:auto;
    object-fit: contain;
    margin: 0px;
}

.item__active{
    display:flex;
}

/* Footer */
#main-footer{
    color:rgb(0, 0, 0);
    text-align: center;
    margin-top: 100px;
    bottom:0px;
    position:relative;
}

/* Chat Button
#chat{
    position:fixed;
    right:0px !important;
    top:350px;
    color:#ffffff !important;
    padding:20px;
    background-color: #bbbbbb;
    text-decoration: none;
    border-radius: 60% 20% 0% 30%;
} */

/* Resizing for widths */
@media(max-width:1068px){
    #showcase h1{
        font-size: 30px;
        margin-top:150px;
    }
    #main{
        width:100%;
        float:none;
    }

    #sidebar{
        width:100%;
        float:none;
        margin-top: 100px;
    }

    .first-line{
        font-size: 20px;
    }
}